body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px; 
    text-align: center;
}
.flag {
    width: 50px;
    height: auto; 
    margin-right: 10px; 
}

.header-title {
    margin: 0;
}
.center {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.map {
    max-width: 100%; 
    max-height: 100%; 
}

.marker {
    position: absolute;
    width: 40px; 
    height: 40px; 
}

.block-hidden {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
  }


.battle1-container{
    position: absolute;
    left: 54.7%;
    top: 41%;
    
}

.battle2-container{
    position: absolute;
    left: 59.5%;
    top: 41%;
}

.battle3-container{
    position: absolute;
    left: 29%;
    top: 42.5%;
}

.battle4-container{
    position: absolute;
    left: 54.9%;
    top: 49%;
}


.battle5-container{
    position: absolute;
    left: 35%;
    top: 30%;
}

.battle6-container{
  position: absolute;
  left: 52%;
  top: 26%;
}

.battle7-container{
  position: absolute;
  left: 48%;
  top: 36%;
}
.battle8-container{
  position: absolute;
  left: 40%;
  top: 66%;
}

.battle9-container{
  position: absolute;
  left: 60%;
  top: 10%;
}


.card-holder {
    width: 400px;
    height: 650px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    display: block; 
    margin: auto; 
    border: 1px solid #000; 
    padding: 10px; 
  }

  .card-holder img {
    max-width: 100%;
    max-height: 100%;
    display: block; 
    margin: auto; 
}


.card-holder video {
    width: 100%;
    max-width: 640px;
    height: auto;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
.text {
  font-size: auto;
  display: inline-block;
  text-align: justify;
  white-space: pre-line;
}